[Desktop Entry]
Name=ROX-Mem
Comment=ROX-Mem displays memory usage
Comment[pl]=ROX-Mem wyświetla zużycie pamięci
Exec=/usr/lib/ROX-apps/Mem/AppRun
Icon=rox-Mem.png
Terminal=false
Type=Application
Categories=System;Monitor;
Encoding=UTF-8
# vi: encoding=utf-8