[Desktop Entry]
Name=ROX-Mem
Comment=ROX-Mem displays memory usage
Comment[pl]=ROX-Mem wyświetla zużycie pamięci
Exec=/usr/lib/rox/Mem/AppRun
Icon=rox-Mem
Terminal=false
Type=Application
Categories=System;Monitor;
# vi: encoding=utf-8
